version: "3"

services:
  php:
    container_name: "api_php"
    restart: always
    build:
      context: ../
      dockerfile: docker/php/Dockerfile
    environment:
      - APP_ENV=${APP_ENV}
      - APP_SECRET=${APP_SECRET}
    volumes:
      - ../rest-api:/var/www
    networks:
      - dev

  nginx:
    image: nginx:alpine
    container_name: "api_nginx"
    restart: unless-stopped
    tty: true
    volumes:
      - ../rest-api:/var/www
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - php
    ports:
      - "81:80"
      - "443:443"
    networks:
      - dev
    links:
      - php
  db:
    container_name: "api_db"
    image: mongo:latest
    volumes:

      - ./.docker/mongodb/data/db/:/data/db/

    env_file:
      - .env
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
      MONGO_INITDB_DATABASE: ${MONGO_INITDB_DATABASE}
    ports:
      - "27018:27017"
    networks:
      - dev

networks:
  dev:
    driver: bridge
volumes:
  db-data:
    driver: local
